/* Open Sans - pairs well with [Montserrat, Lato] */
/* font-family: 'Open Sans', sans-serif; */
/* 300;400;500;600;700;800 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

/* Montserrat - pairs well with [Open Sans, Roboto Slab, Lora] */
/* font-family: 'Montserrat', sans-serif; */
/* 100;200;300;400;500;600;700;800;900 */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

/* Roboto - pairs well with [Open Sans, Roboto Slab, Lato, Playfair Display] */
/* font-family: 'Roboto', sans-serif; */
/* 100;300;400;500;700;900 */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

/* Lato - pairs well with [Montserrat, Roboto, Open Sans, Playfair Display] */
/* font-family: 'Lato', sans-serif; */
/* 100;300;400;700;900 */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans&display=swap'); */

/* Playfair Display - pairs well with [Roboto, Lato, Open Sans, Montserrat] */
/* font-family: 'Playfair Display', serif; */
/* 400;500;600;700;800;900 */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");

/* Merriweather - [Roboto, Open San] */
/* font-family: 'Merriweather', serif; */
/* 300;400;700;900 */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap'); */

/*
  tailwind.config.js
  fontWeight: {
    thin: '100',
    extralight: '200',
    light: '300',
    normal: '400',
    medium: '500',
    semibold: '600',
    bold: '700',
    extrabold: '800',
    black: '900',
  }
*/
